<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper1">
	<insert id="memberInsert" parameterType="string">
		INSERT INTO TB_MEMBER
		VALUES (DEFAULT, #{id}, #{pwd}, #{name}, to_date(#{brithday}, YYYY-MM-DD), #{email}, #{phone}, #{gender}, #{regDate})
	</insert>
	
	<!-- INSERT INTO TB_DEPARTMENT (DEPARTMENT_NO, DEPARTMENT_NAME, CATEGORY, OPEN_YN, CAPACITY)
	VALUES (#{departmentNo},#{departmentName},#{category}, #{openYn}, #{capacity}) -->
</mapper>
